---
---

<nav class="my-4">
  <ul class="flex space-x-4 font-bold">
    <li><a href="/">d9th</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/tags/">tags</a></li>
  </ul>
</nav>
